@font-face {
    src: url(fonts/Norse-Bold.otf);
    font-family: "Norse";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-size: 16px;
    max-height: 100vh;
}

.left-side {
    width: 50%;
    max-width: 50%;
    height: 100vh;
    background-image: url(images/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

section.banner {
    height: 10rem;
    margin-top: 10.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background-color: lightgray;
}

.top,
.mid,
.bottom {
    padding-left: 3rem;
}

.top p:first-of-type {
    margin-top: 5rem;
}

.top {
    margin-right: 10rem;
}

.top p {
    padding-bottom: 3rem;
    font-size: 2rem;
}

.mid {
    background-color: white;
    margin-bottom: 1.5rem;
    border-top: 1px solid grey;
    box-shadow: 0px 1px 10px grey;
}

.bottom button {
    padding: 1rem 5rem;
    margin-bottom: 1rem;
    background-color: #596D48;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.bottom p {
    font-size: 1.5rem;
}

.bottom a {
    color: #596D48;
    text-decoration: none;
}

img {
    max-height: 80%;
}

h1 {
    font-family: "Norse";
    font-size: 6rem;
    color: white;
}

h2 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: 100;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem 3rem;
    margin-right: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

label {
    text-transform: uppercase;
    width: 300px;
    letter-spacing: 2px;
}

input {
    height: 3rem;
    width: 300px;
    border: 1px solid #E5E7EB;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

input:focus {
    border: 5px solid lightblue;
    box-shadow: 0px 0px 20px lightblue;
}

input.password.error {
    border: 2px solid red;
    box-shadow: 0px 0px 5px red;
}

input.password.match {
    border: 2px solid green;
    box-shadow: 0px 0px 5px greenyellow;
}

.error::after {
    content: "*Passwords do not match";
    text-transform: capitalize;
    color: red;
    margin-left: 0.5rem;
}